* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

.testin {
  font-size: 1.25em;
}

#clear-me:before, #clear-me:after {
  display: table;
  content: "";
}
#clear-me:after {
  clear: both;
}

.button-one {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #66b360;
  border: 2px solid #a8d4a5;
}

.button-two {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #3b5998;
  border: 2px solid #718dc8;
}
